<!-- <app-header></app-header> -->
<app-counter-output></app-counter-output>
<app-counter-controls/>
<!-- <button class="m-auto flex hover:bg-indigo-500 bg-indigo-300 rounded-lg  p-2" (click)="onClick()">NgRx</button> -->
<!--<div class="flex">
    <div class="w-1/2">
        <ul class="text-center">
            <li>
                <app-user [name]="'Name 1'" (selectUser)="onSelectUser($event)"/>
            </li>
            <li>
                <app-user [name]="'Name 2'" (selectUser)="onSelectUser($event)"/>
            </li>
            <li>
                <app-user [name]="'Name 3'" (selectUser)="onSelectUser($event)"/>
            </li>
        </ul>
    </div>
    <div class=" p-4 mr-10 mb-10 rounded-lg text-center h-screen bg-sky-100 w-1/2">
        <!-- @if(name()) {
            <app-tasks [selectedUser]="name()"></app-tasks>
        }
        @else { -->
            <!-- <router-outlet/> -->
        <!-- } -->
    <!--</div>
</div> --> 
